/* For Tablets */
@media all and (max-width: 1000px) {
  .menurespon {
    display:none;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .menurespon {
    display:block;
    color:white;
    font-size:25px;
    padding:21px 0;
    float:right;
  }
  
  .header-right {
    display:none;
  }
}
